$cream: rgb(255, 255, 240);
$lightGrey: rgb(112, 143, 154);
$darkGrey: rgb(74, 88, 96);
$black: rgb(35, 34, 37);

$headerFont: 'Oswald', sans-serif;
$bodyFont: 'Source Sans Pro', sans-serif;

@mixin creamBackground {
  color: $darkGrey;
  background-color: $cream;
  margin: 15px;
  border-radius: 3px; 
  padding: 5px;
}