@use "../../abstracts/index.scss" as *;

.movie-info {
  display: flex;
  flex-direction: row;
  border: 1px solid;
  height: 50vh;
  font-size: 18px;
}

.overview-area {
  display: flex;
  width: 45%;
  flex-direction: column;
  margin: 20px;
}

.poster-section {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  height: 28vh;
  width: 12vw;
}

.tagline {

}

.runtime {
  margin: 20px;
}

.summary {
  margin: 0 0 0 15px;
}

.genres {
  font-size: 40px;//Don't really care for this styling but can work on it later
}

