@use "../../abstracts/variables.scss" as *;

.movie-info {
  @include bodyFont;
  display: flex;
  flex-direction: row;
  height: 50vh;
}

.overview-area {
  display: flex;
  width: 45%;
  flex-direction: column;
  margin: 20px;
}

.summary, 
.tagline {
  margin: 0 0 0 15px;
}

.poster-section {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 40vw;
}

.poster {
  height: 35vh;
}

.tagline {
  font-size: 18px;
  font-style: italic;
}

.movie-date {
  @include highlight;
}

.money-matters {
  @include highlight;
  height: 10vh;
  width: 12vw;
  margin-top: 7px;
  margin-left: 0px;
}

.money {
  padding: 0px;
  margin: 0px;
  font-size: 13px;
}

.no-videos {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  width: 520px;
  background-color: rgb(24, 24, 25);
  margin: 25px 30px 0 20px;
  height: 260px;
  padding: 20px;
}
