
@use "../../abstracts/index.scss" as *;


.Header {
  background-color: index.$darkGrey;
  height: 25vh;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.logo {
  display: flex;
  align-items: center;
  margin: 10px;
  font-family: $headerFont;
}

.tomatillo {
  height: 20vh;
}