@use "../../abstracts/index.scss" as *;

.Header {
  font-family: $headerFont;
  background-color: $darkGrey;
  font-size: 36px;
  height: 21vh;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.logo {
  color: $cream;
  font-family: $headerFont;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logo > h1, 
.tomatillo {
  margin: 10px;
  line-height: 60px;
}

.tomatillo {
  height: 15vh;
}

a:link, a:visited, a:hover, a:active { 
  text-decoration: none; 
}
