@use "../../abstracts/index.scss" as *;

Swiper {
  height: 30vh;
  width: 90vw;
}

.swiper-wrapper {
  margin: 20px;
}

.slide {
  height: 28vh;
}

img {
  height: 28vh;
  width: 12vw;
}

:root {
  --swiper-navigation-color: $cream;
}