@use "../../abstracts/index.scss" as *;



Swiper {
  height: 30vh;
  width: 90vw;
}

.video-swiper {
  // height: 50vh;
  // width: 52vw;
  //the videos do better in pixels but that isn't very responsive...
  height: 340px;
  width: 600px;
}

.swiper-wrapper {
  margin: 20px;
}

.section-title {
  font-family: $headerFont;
  margin: 20px;
}

.slide {
  height: 28vh;
}

.poster-image {
  height: 28vh;
  width: 12vw;
  box-shadow: 0px 4px 4px 0;
}

button {
  border: none;
  background-color: rgb(35, 34, 37);
}

:root {
  --swiper-navigation-color: rgb(255, 255, 240);
}